body {

}

header {
  display: flex;
  height: 69px;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: #C87533;

  box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);

}

.logo {
  display: flex;
  align-items: center;
  margin-left: 25px;
  flex-grow: 1;
}

.navigation {
 margin-right: 24px;
  }

nav span {
margin-right: 16px;
}

.container {
  margin: 0 auto;
}

.mainbanner {
  display: flex;
  width: auto;
  height: 100%;
  background-color: #F3F3CC;
  border: 1px solid black;
}

.mainbanner img {
  height: 800px;
  width: auto;
  margin: 32px 25px;
  }
