body {
font-family: 'Assistant', sans-serif;
font-size: 18px;
}

header {
  display: flex;
  height: 69px;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: ;
  background: linear-gradient(to bottom left, #F9F3E3 ,#F9F3E3, #F9F7ED);
  box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);
  position: relative;

}

.logo {
  display: flex;
  margin-left: 25px;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  width: auto;
}

.logo p {
  font-size: 32px;
  text-transform: uppercase;
}

strong {
  font-weight: bold;
}
.navigation {
 margin-right: 24px;
  }

nav span {
margin-right: 16px;
}

.container {
  margin: 0 auto;
}

.mainbanner {
  display: flex;
  width: auto;
  height: 100%;
  background-color: #CFC8B5;
}

.mainbanner img {
  height: 800px;
  width: auto;
  margin: 32px 25px;
  }

.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
}
