body {
font-family: 'Hind Vadodara', sans-serif;
font-size: 18px;
color: #4F2412;
background-color: #E9E0DB;
}

header {
  display: flex;
  height: 69px;
  min-width: 100%;
  align-items: center;
  z-index: 1;
  background-color: #F9F6F4;
  box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);
  position: relative;
}
.container {
  margin: 0 auto;


}
.logo {
  display: flex;
  margin-left: 35px;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  width: auto;
}

.logo p {
  font-size: 32px;
  text-transform: uppercase;
  color: #C9A798;
}

strong {
  font-weight: 700;
  color: #4F2412;
}
.navigation {
 margin-right: 34px;

  }

nav span {
margin-right: 16px;

}

.navigation a {
  color: #4F2412;
  text-decoration: none;
  transition-property: color;
  transition-duration: 150ms;
}

.navigation a:hover {
  color: #4996B2;
}

.navigation a:active {
  color: #39768C;
}

.mainbanner {
  display: flex;

}

.mainbanner img {
  max-height: 60%;
  width: auto;
  margin: 52px 34px;
  }

.learn {
  display: flex;
  height: auto;
  width: 560px;
  flex-direction: column;
  justify-content: center;
  margin-left: 34px;
  background-color: #E9E0DB;
}

.learn h1 {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -1px;
}

.learn h3 {
  margin-top: 30px;
  font-size: 35px;
  word-spacing: 3px;
  font-weight: 500;
  line-height: 42px;
}

.banner .btn {
  display: flex;
  height: 60px;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #4F2412;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);
  transition-property: background-color;
  transition-duration: 220ms;
}

.banner .btn:hover {
  background-color: #682B10;
}

.banner .btn:active {
  background-color: #A39142;
}

.btn {
color: #F9F6F4;
text-decoration: none;
font-size: 30px;
transition-property: color;
transition-duration: 250ms;
}

.btn:hover {
  color: #FEFFED;
}

.banner-family {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  background-color:#F9F6F4;
}

.main img {
 margin-top: 52px;
 margin-left: 34px;
 margin-right: 24px;
 height: 60%;
}
.banners.info {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #E9E0DB;
  width: 1190px;

}

.banners.info h2 {
  font-size: 65px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 32px;
  margin-left: 34px;
}

.banners.info p {
  font-size: 25px;
  margin: 34px;
  line-height: 40px;
}

.banners.info h5 {
  font-size: 21px;
  font-family: Arial;
  margin-left: 32px;
  margin-top: 34px;
  margin-bottom: 74px;
}

.banners.small {
  margin-top: 33px;
  display: flex;

}

section {
  display: flex;
  width: 712px;
  border-bottom: 2px solid #E9E0DB;
}

section:last-child {
  background-color: #E9E0DB;
}

section h3 {
  font-size: 35px;
  font-weight: 500;
  margin-left: 20px;
}

section p {
  margin-top: 1.3rem;
  line-height: 30px;
  font-size: 25px;
  margin-left: 20px;
}

section a {
  text-decoration: none;
  font-weight: 500px;
  transition-property: color;
  transition-duration: 150ms;
  }

section a:hover {
  color: #4996B2;
}

section a:active {
  color: #39768C;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image1 {
 height: auto;
 margin: 18px;
}

.container2 h1 {
  text-align: center;
  margin-top: 52px;
  margin-bottom: 32px;
  font-size: 65px;
  font-weight: bold;
  letter-spacing: -1px;
}

.container2 {
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 72px;
}

.banner-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.ban-item {
  margin-top: 32px;
  background-color: #F9F6F4;
  box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);
}

.ban-item h3 {
  margin-top: 24px;
  margin-left: 34px;
  font-size: 35px;
  font-weight: bold;
}

.ban-item h5 {
  margin-top: 24px;
  margin-left: 34px;
  text-transform: uppercase;
  font-size: 25px;
}

.ban-item p {
  margin-top: 24px;
  margin-left: 34px;
  margin-bottom: 34px;
  margin-right: 24px;
  width: 450px;
  font-size: 25px;

}
.ban-item img {
  height: auto;
}

video {
  margin-top: 32px;
  width: 94%;
  height: auto;
  margin-left: 34px;
}

.container3 {
  display: flex;
  margin: 0 auto;
  background-color:#F9F6F4;
}
.video-content {
  display: flex;
  flex-direction: column;
  width: 709px;

}

#vid {
  display: flex;
  background-color: #E9E0DB;
}

#vid h3 {
  margin-right: 34px;
  font-size: 35px;
  font-weight: 500;
  margin-left: 20px;
}

#vid2 {
  display: flex;
}

#vid2 h3 {
  margin-right: 34px;
  font-size: 35px;
  font-weight: 500;
  margin-left: 20px;
}

#vid2 p {
  margin-top: 1.3rem;
  line-height: 30px;
  font-size: 25px;
  margin-right: 34px;
  margin-left: 20px;
}

#vid p {
  margin-top: 1.3rem;
  line-height: 30px;
  font-size: 25px;
  margin-right: 34px;
  margin-left: 20px;
}

.title h1 {
  text-align: center;
  padding-top: 52px;
  padding-bottom: 32px;
  font-size: 65px;
  font-weight: bold;
  background-color: #F9F6F4;
}

.banners.info h3 {
  margin-top: 30px;
  margin-left: 34px;
  font-size: 35px;
  font-weight: bold;
}

footer {
  display: flex;
  font-family: arial;
  background-color: #F9F6F4;
  border-top: 2px solid #E9E0DB;
  padding-top: 30px;
  padding-bottom: 80px;
}

.footer {
  display: flex;
  margin-left: 35px;
  align-items: center;
  flex-grow: 1;
}

.navi a {
  color: #4F2412;
  text-decoration: none;
  transition-property: color;
  transition-duration: 150ms;
}

.navi a:hover {
  color: #4996B2;
}

.navi a:active {
  color: #39768C;
}

@media only screen and (max-width: 480px) {
  header {
    height: 69px;
    width: 100%;
  }

  .navigation {
    display: flex;
  }
  .replace a {
  display: none;
  }

  .replace2 a {
  display: none;
  }

  .replace4 a {
    display: none;
  }

  .replace {
    width: 160px;
    height: 160px;
    background:url('../images/ic-on-campus.svg');
    background-repeat: no-repeat;
    padding-right: 30px;
    border: 1px solid black;
  }

  .replace2 {
    width: 160px;
    height: 160px;
    background:url('../images/ic-online.svg');
    background-repeat: no-repeat;
    padding-right: 30px;
  }

  .replace3 {
    display: none;
  }

  .replace4 {
    width: 160px;
    height: 160px;
    background:url('../images/ic-login.svg');
    background-repeat: no-repeat;
    padding-right: 30px;
  }

  .logo p {
    display: none;
  }

  }
  .logo img {
    border: 1px solid black;

  }
  .mainbanner img {
    width: 100%;
    min-height: 350px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
  }
   .banner {
     margin-right: 32px;
   }
   .mainbanner {
     background-color: #E9E0DB;
     display: block;
     padding-bottom: 52px;
     }

  .main img {
  display: none;
     }

  .banners.info h2 {
    display: none;
  }

  .banners.info p {
    display: none;
  }

  .banners.info h5 {
    display: none;
  }

  .learn {
   height: auto;
   width: 460px;
  }
  .learn h1 {
    margin-top: 32px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
  }

  .learn h3 {
    margin-top: 32px;
    font-size: 30px;
    word-spacing: 3px;
    font-weight: 500;
    line-height: 42px;
  }
   .banners.small {
     display: flex;
   }

   section {
     display: block;
   }

   section img {
     display: none;

   }
   .image1.ori {
     background-image:url('../images/information-orientation-mobile.jpg');
     background-repeat: no-repeat;
     background-position: center;
     min-height: 250px;
     width: 60%;
     margin-right: 24px;
   }
   .info h3,
   p {
     margin-top: 20px;
   }
   .info h3 {
     font-weight: bold;
   }
   .info  {
     padding-bottom: 40px;
   }

   .info p {
     width: 400px;
   }

   .image1.cam {
     background-image:url('../images/information-campus-mobile.jpg');
     background-repeat: no-repeat;
     background-position: center;
     min-height: 250px;
     width: 60%;
     margin-right: 24px;
   }

   .image1.lect {
     background-image:url('../images/information-guest-lecture-mobile.jpg');
     background-repeat: no-repeat;
     background-position: center;
     min-height: 250px;
     width: 60%;
     margin-right: 24px;
   }

   .ban-item img {
     display: none;
   }

   .ban-item p,
   h5 {
     display: none;
   }

   .banner-content {
     display: flex;
     flex-direction: column;
     margin-left: -42px;
   }

   .ban-item {
     display: flex;
     justify-content: flex-start;
     padding-bottom: 34px;
     padding-top: 15px;
     width: 400px;
     background-color: #E9E0DB;

   }
   .ban-item h3 {
    font-weight: 500;
    font-size: 30px;
   }

   .container {
     background-color:#F9F6F4;
   }

   .container2 h1 {
     font-size: 51px;
   }

   section:last-child {
     background-color: #F9F6F4;
   }

   .title {
     border-top: 2px solid #E9E0DB;

   }
   .title h1 {
     font-size: 50px;
   }
   .video-content {
     display: none;
   }

   .banners.info h3 {
     display: none;
   }

    .navi {
      display: none;
    }

    video {
      width: 450px;
      height: auto;
      margin: auto;
    }

    footer {
      border-top: 2px solid #F9F6F4;
    }
    .footer p {
      margin-top: -44px;
      margin-bottom: -114px;
    }
}
